body {
    background-color: rgb(4, 4, 25);
    color: white;
    padding: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.vm-heading {
    font-size: 60px;
    margin-top: 8%;
}